# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment variables
.env

# Ignore build directories
dist/
build/

# Ignore compiled files
*.class
*.dll
*.exe

# Ignore temporary files
*.tmp
*.bak
*.swp
#private key firebase
analytics-daf9c-firebase-adminsdk-i0y24-6c384f3c69.json