# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment variables
.env

# Ignore build directories
dist/
build/

# Ignore compiled files
*.class
*.dll
*.exe

# Ignore temporary files
*.tmp
*.bak
*.swp
#private key firebase
rearticle-admin-da70e-firebase-adminsdk-d8jex-4f1e77e4b3.json